{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card shadow-sm">
      <div class="card-header bg-white fw-semibold">Form Pendaftaran Calon Guru</div>
      <div class="card-body">
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Nama Lengkap</label>
            <input type="text" name="full_name" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">No. HP</label>
            <input type="text" name="phone" class="form-control">
          </div>
          <div class="mb-4">
            <label class="form-label">Lamaran Guru Mapel</label>
            <select name="applied_subject_id" class="form-select" required>
              <option value="">Pilih mapel...</option>
              {% for s in subjects %}
                <option value="{{ s.id }}">{{ s.name }}</option>
              {% endfor %}
            </select>
          </div>
          <button class="btn btn-primary w-100">Lanjut Mulai Tes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
